*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(/assets/background/background1\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* text-align: center; */
    overflow: scroll;
    background-repeat: no-repeat;
}

.about-container{
    background: linear-gradient(rgba(207, 207, 207, 0.7), rgba(166, 181, 224, 0.7));
    padding: 1rem 2rem;
    margin: 2rem;
    max-width: 1000px;
    width: 900px;
    border: 2px solid;
    min-width: 400px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
                -5px -5px 10px rgba(0,0,0,0.3);
    border-radius: 2rem;
    border-color: rgba(255, 255, 255, 0.4);
    aspect-ratio: 16/9;
}

.logo-nav{
    display: flex;
    justify-content: space-between;
    
}

.socials .fa-brands{
    margin-right: 19px;
    font-size: 30px;
    color: black;
}

.socials .fa-brands:hover{
    text-decoration: underline;   
}

.about-container h3{
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
    transition: all 0.5s ease-in;
}

.about-container h3:hover{
    text-decoration: underline;
    
}

.about_main{
    /* display: flex; */
    text-align: center;
}

.about_main .about_info{
    text-align: justify;
}
.my_image{
    float: left;
    height: 250px;
    margin-right: 20px;
    border-radius: 20px;
    /* width: 350; */
    /* border-radius:100%; */
}

.about_info{
    line-height: 27px;
    font-size: 25px;
    letter-spacing: 1.2px;

}

.about-container p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.aboutBtn{
    display: flex;
    justify-content: center;
}

.aboutBtn button{
    border-radius: 5px;
    background: transparent;
    padding: 3px 5px;
    margin: 0 20px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4), 
                -5px -5px 10px rgba(0,0,0,0.4);
    transition: all 0.3s ease-in;
}

.aboutBtn button #cv_btn:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2), 
                -5px -5px 10px rgba(0,0,0,0.2);
}

.aboutBtn button #hireme_btn{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2), 
                -5px -5px 10px rgba(0,0,0,0.2);
}

.aboutBtn button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2), 
                -5px -5px 10px rgba(0,0,0,0.2);
}

.aboutBtn a{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    color: black;
}
