*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(194, 193, 193), rgb(149, 228, 112));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
    background-repeat: no-repeat;
}

.about-container{
    background: #dbdbdb;
    padding: 1rem 2rem;
    margin: 2rem;
    width: 1000px;
    min-width: 500px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
                -5px -5px 10px rgba(0,0,0,0.3);
    border-radius: 2rem;
}

.about-container h3{
    font-size: 2rem;
    text-align: center;
}

.about_image{
    text-align: center;
    height: 250px;
    /* width: 250px; */
}

.about_image img{
    height: 250px;
    width: 200px;
    border-radius: 10px;
}


.about-container p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.aboutBtn button{
    border-radius: 5px;
    background: transparent;
    /* text-align: center; */
}

.aboutBtn a{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    color: black;
}
#cv_btn{
    background: rgb(207, 207, 207);
}