*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: gray;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: scroll;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: rgba(0,0,0,.3);
}

.navbar .logo{
    margin: 10px 20px;
    font-size: 25px;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Arial;
    padding: 5px 10px;
    color: rgb(126, 146, 211);
    text-transform: uppercase;
}
.nav_list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px 20px;
}

.nav_list ul a{
    text-decoration: none;
    margin-right: 2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Arial;
    transition: all 0.3s linear;
    text-decoration: none;
}

.nav_list ul a:hover{
    text-decoration: none;
    color: rgb(126, 146, 211);
}

.aboutHome{
    display: flex;
    justify-content: center;
    position: relative;
}

.about-container{
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    margin: 2rem;
    font-weight: bold;
    max-width: 90%;
    margin-top: 8.7%;
    font-family: Arial;
    width: 80%;
    border-radius: 20px;
}

.socials{
    text-align: center;
}

.socials .fa-brands{
    margin: 19px 10px;
    font-size: 20px;
    color: rgb(126, 146, 211);
    transition: all .3s linear;
}

.socials .fa-brands:hover{   
    color: rgb(32, 32, 32);
    transform: scale(1.2);
}

.about-container h3{
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.my_image{
    float: right;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    border-radius: 50%;
}

.about_info{
    line-height: 27px;
    text-align: justify;
    margin: 0 0 10px 0;
}

.about_info li{
    list-style-position: inside;
    font-size: 20px;
}

.about_info p{
    font-size: 20px;
    color: rgb(126, 146, 211);
}

.about_info p span{
    color: #ffffff;
}

.skills{
    margin: 10px 0;
}

.skills p{
    margin: 10px 0;
    text-align: center;
    text-decoration: underline;
    color: #fff;
}
.btns{
    text-align: center;
}

.btns .skillsBtn{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.6);
    margin: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.btns .skillsBtn:hover{
    transform: scale(1.1);
    background: transparent;
    color: rgb(126, 146, 211);
}

.aboutBtn{
    text-align: center;
}


.aboutBtn .resumeBtn{
    border-radius: 5px;
    background: rgba(0,0,0,.3);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    transition: all 0.3s ease;
}

#cv_btn{
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease;
    color: rgb(126, 146, 211);
}

.aboutBtn .resumeBtn:hover{
    transform: scale(1.2);
}

@media(max-width:600px){
    .about_main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav_list ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        margin: 10px 20px;
    }
    
    .nav_list ul a{
        text-decoration: none;
        margin-right: 2rem;
        display: none;
        font-weight: 400;
        color: rgb(126, 146, 211);
        cursor: pointer;
        transition: all .3s ease;
        text-decoration: none;
        transition-property: border-bottom;
    }
    
}