*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: gray;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 5px;
    background: rgba(48, 43, 33, 0.2);
    font-size: 25px;
}

.logo{
    margin: 0 20px;
}

.logo a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: rgb(80, 108, 202);
}

nav .nav_list ul{
    display: flex;
    justify-content: space-around;
}

nav .nav_list ul li{
    list-style: none;
    margin: 0 10px;
}

nav .nav_list ul a{
    text-decoration: none;
    color: rgb(80, 108, 202);
    font-size: 17px;
    transition: all .3s linear;
}

.nav_list ul a:hover{
    color: rgb(126, 146, 211);
}

.contact-container{
    background: rgba(115, 115, 158, 0.4);
    max-width: 99%;
    width: 70%;
    margin: 2rem;
    height: auto;
    border-radius: 1rem;
}

.contact-container h3{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

.my_contacts{
    font-weight: bold;
    display: flex;
}

.my_contacts .myInfo .more{
    transition: all .5s linear;
    color: #000000;
}

.my_contacts .myInfo .more:hover{
    margin-left: 10px;
}

.contact_form{
    width: 90%;
    background: linear-gradient(rgba(167, 167, 167, 0.3), rgba(139, 141, 135,0.3));
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
}

input{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    background: rgba(255,255,255, 0.5);
    margin-bottom: 20px;
    border: none;
    font-size: 13px;
    caret-color: rgb(15, 15, 15);
    font-family: 'Courier New', Courier, monospace;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    caret-color: rgb(32, 32, 32);
}

textarea:focus{
    outline: none;
}

textarea::placeholder{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

label{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}



.message{
    margin-bottom: 20px;
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    padding-top: 10px;
    background: rgba(255,255,255, 0.5);
    border: none;
    resize: none;
}

.contact_form #submit{
    padding: 3px 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #fff;
    transition: background 0.4s;
    background: rgba(131, 131, 131, 0.7);
}

#submit:hover{
    background: linear-gradient(rgba(167, 167, 167, 0.5), rgb(139, 141, 135));
    color: #000000;
}

.myInfo{
    background: linear-gradient(rgb(171, 172, 170), rgb(255, 255, 255), rgb(130, 131, 128));
    margin: 10px;
    max-width: 400px;
    color: #636363;
    width: 360px;
    font-size: 13px;
    padding: 20px;
    border-radius: 10px;
    line-height: 60px;
}
.fa-solid{
    margin-right: 10px;
    font-size: 15px;
}

@media screen and (max-width: 600px){
    .contact-container{
        flex-direction: column;
    }   
}