*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(/assets/background/background1\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container{
    background: linear-gradient(rgba(139, 141, 135, .6), rgb(255, 255, 255, .6), rgba(139, 141, 135,.6));
    max-width: 99%;
    width: 800px;
    margin: 2rem;
    height: auto;
    box-shadow: 5px 5px 10px rgba(160, 160, 160, .3),
                -5px -5px 10px rgba(160, 160, 160, .3);
    border-radius: 1rem;
}

.contact-container h3{
    text-align: center;
    /* margin-top: 1.4rem; */
    font-weight: bold;
    text-decoration: underline;
}

.my_contacts{
    font-weight: bold;
    display: flex;
}

.contact_form{
    width: 90%;
    background: linear-gradient(rgba(167, 167, 167, 0.5), rgb(139, 141, 135));
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
}

input{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    background: rgba(255,255,255, 0.5);
    margin-bottom: 20px;
    border: none;
    font-size: 13px;
}

input::placeholder{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

textarea::placeholder{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}



label{
    font-size: 15px;
    color: #363636;
    font-family: 'Courier New', Courier, monospace;
}



.message{
    margin-bottom: 20px;
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    padding-top: 10px;
    background: rgba(255,255,255, 0.5);
    border: none;
    resize: none;
}

.contact_form #submit{
    padding: 3px 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #fff;
    transition: background 0.4s;
    background: rgba(131, 131, 131, 0.7);
    /* text-transform: uppercase; */
}

#submit:hover{
    background: linear-gradient(rgba(167, 167, 167, 0.5), rgb(139, 141, 135));
    color: #000000;
}

.myInfo{
    background: linear-gradient(rgb(171, 172, 170), rgb(255, 255, 255), rgb(130, 131, 128));
    margin: 10px;
    max-width: 400px;
    color: #636363;
    width: 360px;
    font-size: 13px;
    padding: 20px;
    border-radius: 10px;
    line-height: 60px;
}
.fa-solid{
    margin-right: 10px;
    font-size: 15px;
}

@media screen and (max-width: 950px){
    .contact-container{
        flex-direction: column;
    }   
}