*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(rgb(255, 255, 255), rgb(114, 137, 214));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container{
    background: linear-gradient(rgb(255, 255, 255), rgb(160, 175, 223));
    max-width: 80%;
    width: 800px;
    margin: 2rem;
    height: 100%;
    box-shadow: 5px 5px 10px black,
                -5px -5px 10px rgb(160, 160, 160);
    border-radius: 1rem;
}

.contact-container h3{
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
}

.my_contacts{
    font-weight: bold;
}

.contact_form{
    width: 90%;
    margin: 2rem auto;
    padding: 20px;
}

.contact_form input{
    border-radius: 10px;
}

.Name{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.Email{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.message{
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
}

#submit{
    padding: 5px;
    border-radius: 10px;
    background: rgb(185, 185, 185, 0.4);
}

#submit:hover{
    background: #fff;
}