*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgb(139, 141, 135), rgb(255, 255, 255), rgb(139, 141, 135));
    overflow: hidden;
    background-position: center;
    background-size: cover;
    /* height: auto; */
    position: relative;
    overflow-y: scroll;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 10px;
    background: rgba(78, 78, 179, 0.3);
    font-size: 25px;
}

nav .logo{
    color: rgb(54, 54, 185);
    margin: 0 20px;
}

nav .logo a{
    text-decoration: none;
    text-transform: uppercase;
}

nav .nav_list ul{
    display: flex;
    justify-content: space-around;
}

nav .nav_list ul li{
    list-style: none;
    margin: 0 10px;
}

nav .nav_list ul a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.portfolio-container h3{
    text-align: center;
    line-height: 20px;
    margin: 50px 0 20px 0;
}

.portfolio-container h3:hover{
    text-decoration: underline;
    transition: all 0.2s ease;
}

.projects{
    width: 90%;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    height: 190px;
    cursor: pointer;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    box-shadow: 0 4px 10px rgba(255,255,255,0.5);
}

.project:hover{
    transform: scale(1.03);
}

.project a img{
    height: 100px;
    width: 200px;
    border-radius: 8px;
}

/* footer section */
footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    line-height: 20px;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    padding: 1rem; 
}

.footer-section{
    cursor: pointer;
    color: rgb(83, 82, 82);
}

.footer-section h5{
    color: rgb(54, 54, 185);
}

.footer-section ul li a{
    color: rgb(83, 82, 82);
}

.footer-section #email a{
    text-decoration: none;
    color: rgb(83, 82, 82);
}

.footer-section #email a:hover{
    color: #fff;
}

.footer-section li{
    list-style: none;
}

.footer-section li a{
    text-decoration: none;
}

.footer-section li a:hover{
    color: #fff;
}

.footer-section .copy-right{
    font-size: 13px;
    font-style: italic;
}

@media screen and (max-width:550px){
    
    .projects{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project{
        height: 190px;
        cursor: pointer;
        width: 90%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        margin: 10px 5px;
        padding: 8px;
        color: #fff;
    }   
    nav{
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        background: rgba(78, 78, 179, 0.3);
        font-size: 20px;
    }
    
    nav .logo{
        margin: 0 15px;
    }
    
    nav .logo a{
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;
    }

    nav .logo a:hover{
        color: #fff;
    }
    
    nav .nav_list ul{
        display: flex;
        flex-direction: column;
        display: none;
        justify-content: space-around;
    }
    
    nav .nav_list ul li{
        list-style: none;
        margin: 0 10px;
    }
    
    nav .nav_list ul a{
        text-decoration: none;
        color: black;
        font-size: 17px;
    }
    .portfolio-container h3{
        text-align: center;
        line-height: 20px;
        margin: 50px 0 20px 0;
        transition: scale 0.3s linear;
    }
    
    .portfolio-container h3:hover{
        transform: scale(1.02);
    }    
    footer{
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        line-height: 20px;
        margin: 20px;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
        font-size: 14px; 
    }    
}