*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgb(139, 141, 135), rgb(255, 255, 255), rgb(139, 141, 135));
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: auto;
    overflow-y: scroll;
}

.logo img{
    margin-left: 20px;
}

.portfolio-container h3{
    text-align: center;
    line-height: 20px;
    margin: 10px 0;
}

.portfolio-container h3:hover{
    text-decoration: underline;
    transition: all 0.2s ease;
}

.projects{
    /* height: 70vh; */
    width: 90%;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    height: 180px;
    cursor: pointer;
    width: 310px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    box-shadow: 0 4px 10px rgba(255,255,255,0.5);
}

.project:hover{
    /* padding: 8px; */
    transform: scale(1.03);
}

.project a img{
    height: 100px;
    width: 200px;
    border-radius: 8px;
}



footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    line-height: 20px;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem; 
}

.footer-section{
    cursor: pointer;
    color: rgb(83, 82, 82);
}

.footer-section ul li a{
    color: rgb(83, 82, 82);
}

.footer-section #email a{
    text-decoration: none;
    color: rgb(83, 82, 82);
}

.footer-section #email a:hover{
    color: #fff;
}

.footer-section li{
    list-style: none;
}

.footer-section li a{
    text-decoration: none;
}

.footer-section li a:hover{
    color: #fff;
}