body{
    margin: 0;
    background: linear-gradient(rgb(139, 141, 135), rgb(255, 255, 255), rgb(110, 120, 151));
    height: 100%;
    background-repeat: no-repeat;
    /* font-family: 'Courier New', Courier, monospace; */
}

.services-container{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.services-container .logo img{
    margin-left: 20px;
}

.services-container .logo img:hover{
    border-bottom: 1px solid rgba(0,0,0,.4);
}

.services-container h3{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.service_card{
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service_card img{
    height: 170px;
    width: 250px;
    border-radius: 5px;
}

#service{
    text-align: center;
    width: 400px;
    border: 2px solid rgba(0,0,0,.1);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4),
                -5px -5px 10px rgba(0,0,0,.4);
}

#service:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.1),
                -5px -5px 10px rgba(0,0,0,.1);
}

/* skills styles */
.skills-container{
    margin: 20px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}

.skillHeader{
    text-align: center;
}

.skillHeader h3{
    font-size: 30px;
    text-decoration: underline;
    letter-spacing: 2px;
}

.services-container h3 .fa-solid{
    margin-left: 10px;
}

.skillHeader p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.languages{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.language{
    margin: 10px 10px;
    /* padding: 10px; */
    border-radius: 20px;
}

.language h5{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.language img{
    width: 200px;
    border-radius: 20px;
    height: 100px;
    background: transparent;
}

/* footer section */
footer{
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    line-height: 20px;
    justify-content: space-around;
    margin: 0 4.4rem;
    flex-wrap: wrap;
    color:  rgb(53, 53, 53);
    font-size: 17px;
    padding: 1rem 2rem;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
footer h5{
    text-align: center;
    transition: all .5s ease;
}

footer h5:hover{
    text-decoration: underline;
   
}

footer .footerSection2 ul li{
    list-style-type: none;
    margin: 5px;
    transition: all .5s ease;
}

footer .footerSection2 ul li:hover{
    color: rgb(255, 255, 255);
    /* font-size: 21px; */
}

footer .footerSection3 a{
    text-decoration: none;
    color: rgb(70, 70, 70);
    transition: all .5s ease;
}

footer .footerSection3 a:hover{
    color: rgb(255, 255, 255);
    /* font-size: 17px; */
}