*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.home_section{
    background-size: cover;
    background-position: top;    
    background-image: url(../assets/background/background1\ \(2\).jpg);
    height: 100vh;
    width: 100%;
}

.navbar{
    background: rgba(48, 43, 33, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.logo{
    cursor: pointer;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    letter-spacing: 2px;
    padding: 5px 10px;
    color: rgb(80, 108, 202);
}

.nav_list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav_list ul a{
    text-decoration: none;
    margin-right: 2rem;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    transition-property: border-bottom;
}

.nav_list ul a:hover{
    text-decoration: none;
    border-bottom: 3px solid #000000;
}

/* hero section */ 
.home_body{
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-top: 90px;
}

.home_info{
    max-width: 95%;
    width: 600px;
    height: 270px;
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding: 20px;
    transition: all 0.4s ease;
}

.home_info h3{
    font-size: 20px;
}

.home_info h2{
    font-size: 50px;
    font-weight: bold;
}

.home_info h2 #first-name{
    color: orangered;
}

.home_info h2 #second-name{
    color: #fff;
}

.home_info p{
    font-size: 20px;
    /* font-weight: bold; */
}

.home_info .pc1{
    color:rgb(80, 108, 202);
    font-weight: bold;
}

.socials{
    margin-top: -15px;
}

.socials .fa-brands{
    font-size: 19px;
    margin: 30px;
    transition: all .3s ease;
}

.socials .fa-brands:hover{
    transform: scale(1.5);
    color: #6e6e6e;
}

/* style for smaller screens */

@media screen and (max-width:550px)
{
   .navbar{
        background: rgba(48, 43, 33, 0.2);
        display: block;
    }

    .nav_list ul{
        display: block;
        list-style: none;
    }
    
    .nav_list ul a{
        text-decoration: none;
        font-weight: 500;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.2s linear;
        text-decoration: none;
    }

    .nav_list ul a:hover{
        text-decoration: none;
        border-bottom: 3px solid #000000;
        margin-left: 4px;
    }
    /* hero section */
    .home_info{
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.4);
        color: rgba(255, 255, 255, 1);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.4s ease;
    }

    .home_info h3{
        font-size: 17px;
    }

    .home_info h2{
        font-size: 25px;
    }

    .home_info p{
        font-size: 16px;
    }

    .socials{
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .socials a .fa-brands{
        font-size: 20px;
        margin: 10px;
        color: white;
    }

    .socials a .fa-brands:hover{
        transition: all .3s ease;
        color: #000000;
    }

}