*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

.home_section{
    background-size: cover;
    background-position: center;    
    background-image: url(../assets/background/computer.jpg);
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
}

.navbar{
    background: rgba(255, 227, 172, 0.2);
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    padding: 1.5rem 2rem;
    align-items: center;
}

.logo{
    cursor: pointer;
}

.nav_list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav_list ul a{
    text-decoration: none;
    margin-right: 2rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.nav_list ul a:hover{
    font-size: 1.01rem;
    color: grey;
}
/* hero section */

.home_body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* background: rgb(255, 220, 173); */
}

.home-container{
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
    box-shadow: 5px 5px 10px grey,
                -5px -5px 10px grey;
}

.info-container{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* text-align: center; */
}

.home_info{
    position: absolute;
    width: 600px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    height: 300px;
}

.btn{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 20px;
    transform: translate(-50%);
    opacity: .4;
}

.next{
    right: 10px;
}

.prev{
    left: 20px;
}

.btn:hover{
    opacity: 1;
}

/* .home_info h2{
    margin-top: 2.5rem;
}

.home_info p{
    margin-top: 10px;
    margin-bottom: 2rem;
} */