*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

.home_section{
    background-size: cover;
    background-position: center;    
    background-image: url(../assets/background/background1\ \(2\).jpg);
    height: 100vh;
    width: 100%;
}

.navbar{
    background: rgba(48, 43, 33, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    align-items: center;
}

.logo{
    cursor: pointer;
}

.nav_list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav_list ul a{
    text-decoration: none;
    margin-right: 2rem;
    font-weight: 700;
    color: #3229ac;
    cursor: pointer;
    transition: .4s;
    transition-property: text-decoration;
}

.nav_list ul a:hover{
    text-decoration: underline;
}
/* hero section */
 
.home_body{
    display: flex;
    justify-content: center;
    height: 88vh;
    align-items: center;
}

.home_info{
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: monospace;
    border-radius: 20px;
    padding: 20px;
    line-height: 50px;
    transition: all 0.4s ease;
}

.home_info h3{
    font-size: 30px;
}

.home_info h2{
    font-size: 55px;
}

.home_info p{
    font-size: 35px;
    font-weight: bold;
}

.socials .fa-brands{
    color: rgb(15, 65, 228);
    /* position: fixed; */
    font-size: 39px;
    margin: 20px;
}

.socials .fa-brands:hover{
    transition: all .3s ease;
    color: #6e6e6e;
}

/* prev & next buttons */

/* .btn{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 20px;
    opacity: .3;
} */

/* .next{
    right: 10px;
}

.prev{
    left: 10px;
} */

.btn:hover{
    color: rgba(255, 255, 255, 0.578);
    opacity: 1;
}
