body{
    background: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.home_section{
    height: 100vh;
    background: url(./computer.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.nav_bar{
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 20px;
    display: flex;    
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.nav_bar .logo{
    /* border: 2px solid white; */
    text-align: center;
}
.nav_bar .logo h2{
    /* border: 2px solid rgb(224, 224, 224); */
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    margin: 0 50px;
    background: transparent;
    color: white;
}

.nav_bar .logo span{
    color: rgb(139, 19, 19);
}

.nav_bar .logo span:hover{
    color: rgb(16, 26, 222);
}
.nav_bar .logo h2:hover{
    color: rgb(200, 155, 6);
}

.nav_bar .nav_list{
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
 
.nav_bar .nav_list ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
}

.nav_bar .nav_list ul li{
    margin: 0 40px;
}

.nav_bar .nav_list ul li .nav_link{
    /* border: 2px solid white; */
    text-decoration: none;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.nav_bar .nav_list ul li .nav_link:hover{
    font-size: 20px;
    color: saddlebrown;
}

.home_body{
    /* border: 2px solid black; */
    margin: 10% 30px;
    justify-content: center;
    border-radius: 20px;
}

.home_body .home_info{
    /* border: 2px solid black; */
    margin: 50px 50px;
    font-size: 20px;
    color: white;
}

.home_body .home_info h2{
    font-size: 40px;
}
.home_body .home_info h2 span{
    color: brown;
}
.home_body .home_info p{
    line-height: 30px;
    font-weight: bold;
}

.about_section{
    display: flex;
    justify-content: space-evenly;
    background: rgb(150, 91, 91);
    height: auto;
    width: 100%;
    overflow: hidden;
}

.about_section .about_me_info p{
    border-radius: 20px;
    /* border: 2px solid black; */
    padding: 20px;
    margin: 0 20px;
    width:600px;
    line-height: 20px;
    height: 70vh;
    font-weight: bold;

}

.about_section .pass_photo{
    border-radius: 50%;
    /* border: 2px solid black; */
    width: 500px;
    height: 500px;
    background: url(./my\ image\ 2.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.skills_section{
    background: linear-gradient(rgb(150, 91, 91), rgb(86, 38, 38));
    height: auto;
    width: 100%;
    padding: 20px;
}

.skills_section .languages{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills_section .languages .language{
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    width: 400px;
    height: 300px;
}

footer{
    text-align: center;
    padding-bottom: 0;
    /* border: 2px solid black; */
}

#python{
    background: url(./python.png);
    background-position: center;
    background-size: cover;
}

#web_dev{
    background: url(./web-development.png);
    background-position: center;
    background-size: cover;
}

#firebase{
    background: url(./firebase.png);
    background-position: center;
    background-size: cover;
}

#django{
    background: url(./django-logo.png);
    background-position: center;
    background-size: cover;
}

#php{
    background: url(./php.png);
    background-position: center;
    background-size: cover;
}
#oop{
    background: url(./oop.png);
    background-position: center;
    background-size: cover;
}
#heroku{
    background: url(./heroku.png);
    background-position: center;
    background-size: cover;
}

#sql{
    background: url(./sql.jpg);
    background-position: center;
    background-size: cover;
}

#git{
    background: url(./git-vs-github.png);
    background-position: center;
    background-size: cover;
}
.projects{
    background: linear-gradient(rgb(87, 115, 152), rgb(177, 67, 67) );
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.projects .project{
    /* border: 2px solid black; */
    height: 200px;
    width: 200px;
    margin: 10px;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.projects .project a{
    color: white;
}
#pos{
    background: url(./point-of-sale-system-1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#ecomm{
    background: url(./Screenshot\ from\ 2022-10-14\ 22-52-42.png);
    background-position: center;
    background-size: cover;
}

#fms{
    background: url(./fms.jpg);
    background-position: center;
    background-size: cover;
    color: black;
}
#fms a h3{
    color: black;
}
#bie{
    background: url(./bookit.jpg);
    background-position: center;
    background-size: cover;
    color: red;
}

#bie a{
    color: rgb(252, 0, 0);
    text-decoration: none;
}

.skills_section button{
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
}

.skills_section button:hover{
    background: rgb(170, 170, 214);
    color: white;
}

.contact_me_section{
    background: linear-gradient(brown, rgb(184, 139, 139));
}
#contacts a{
    /* border-bottom: 2px solid black; */
    text-decoration: none;
    margin: 20px;
}